{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DjangoAPI{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Global CSS -->
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
    <style>
        /* General styles for consistent behavior */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden; /* Prevent horizontal scrolling */
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
            overflow-x: hidden; /* Prevent horizontal scrolling in the main content */
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}  <!-- Include the navbar -->

<main class="container mt-4">
    {% block content %}
    {% endblock %}
</main>

{% include 'footer.html' %}  <!-- Include the footer -->

<!-- Bootstrap JavaScript -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
