<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Django API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'page_one' %}">First page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'page-two' %}">Another page</a>
                </li>
                {% if user.is_authenticated %}
                    {% if is_user_or_staffuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_page' %}">User</a>
                        </li>
                    {% endif %}
                    {% if is_staffuser_or_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'staffuser_page' %}">Staff User</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
